function openTrailer(id){
const modal=document.getElementById("trailerModal");
const frame=document.getElementById("trailerFrame");

frame.src="https://www.youtube.com/embed/"+id+"?autoplay=1";
modal.style.display="flex";
}

function closeTrailer(){
const modal=document.getElementById("trailerModal");
const frame=document.getElementById("trailerFrame");

frame.src="";
modal.style.display="none";
}
