body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #0f172a;
    color: white;
}

header {
    text-align: center;
    padding: 40px;
    background: #020617;
}

h2 {
    text-align: center;
}

.about {
    padding: 30px;
    max-width: 800px;
    margin: auto;
}

.novels {
    padding: 20px;
}

.card {
    display: flex;
    gap: 20px;
    background: #1e293b;
    margin: 20px auto;
    padding: 20px;
    border-radius: 12px;
    max-width: 900px;
}

.card img {
    width: 180px;
    border-radius: 10px;
}

.card iframe {
    width: 100%;
    height: 220px;
    border-radius: 8px;
    margin-top: 10px;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 18px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}